@-webkit-keyframes pulse {
  to {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  to {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}



.left-col {
	background: #fff;
	width: 300px;
	position:fixed;
	opacity:1;
	transition:all .2s ease-in;
	height:100%;
	z-index: 999;
	&.show {
		@extend %shadow;
	}
	.overlay{
		width: 100%;
		height: 180px;
		position: absolute;
		img {
			display: block;
		    margin: 0 auto;
		    width: 30%;
		    border: 0;
		    vertical-align: middle;
		    max-width: 100%;
		}
	}

	.intrude-less {
		width: 76%;
		text-align: center;
		margin: 112px auto 0;
	}

	#header{
		width:100%;
		height: 300px;
		position: relative;
		border-bottom: 1px solid color-border;
		.profilepic {
		    display: block;
		    border: 5px solid #fff;
		    border-radius: 300px;
		    width: 128px;
		    height: 128px;
		    margin: 0 auto;
		    position: relative;
		    overflow: hidden;
		    background: #88acdb;
		    -webkit-transition: all .2s ease-in;
		    display: -webkit-box;
		    -webkit-box-orient: horizontal;
		    -webkit-box-pack: center;
		    -webkit-box-align: center;
		    text-align: center
		}
		.profilepic::before, .profilepic::after {
		    -webkit-animation: pulse 2s linear infinite;
		    animation: pulse 2s linear infinite;
		    border: #fff solid 8px;
		    border-radius: 50%;
		    box-sizing: border-box;
		    content: ' ';
		    height: 140%;
		    left: -20%;
		    opacity: .6;
		    position: absolute;
		    top: -20%;
		    -webkit-transform: scale(0.714);
		    transform: scale(0.714);
		    width: 140%;
		    z-index: 10000;
		}
		a {
			color: #696969;
			&:hover {
				color: #B0A0AA;
			}
		}
		.header-subtitle{
			text-align: center;
			color:red;
			font-size: 14px;
			line-height: 85px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
		.header-menu{
			font-weight: 300;
			line-height: 31px;
			cursor: pointer;
			text-transform: uppercase;
			float:none;
			min-height: 150px;
			margin-left: -12px;
			text-align: center;
			display: -webkit-box;
			-webkit-box-orient: horizontal;
			-webkit-box-pack: center;
			-webkit-box-align: center;
			li{
				cursor: default;
				a{
					font-size: 14px;
					min-width: 300px;
				}
			}
		}
		.header-smart-menu {
			font-size: 12px;
			margin-bottom: 20px;
			a {
				&:after {
					content: '/'
				}
				&:last-child {
					&:after {
						content: ''
					}
				}
			}
		}
		.zhuabao {
			margin-top: 80px;
			color: red;
		}
		.profilepic{
			text-align: center;
			display: block;
			border: 5px solid #fff;
			border-radius: 300px;
			width: 128px;
			height: 128px;
			margin: 0 auto;
			position: relative;
			overflow: hidden;
			background: #88acdb;
			-webkit-transition: all 0.2s ease-in;
			display: -webkit-box;
			-webkit-box-orient: horizontal;
			-webkit-box-pack: center;
			-webkit-box-align: center;
			text-align: center;
			img{
				border-radius: 300px;
				opacity: 1;
				-webkit-transition: all 0.2s ease-in;
				&.show{
					width: 100%;
					height: 100%;
					opacity: 1;
				}
			}
		}
		.header-author{
			text-align: center;
			margin: 0.67em 0;
			font-family: Roboto, "Roboto", serif;
			font-size: 30px;
			transition: 0.3s;
		}
		.dianzan {
			text-align: center;
			span {
				height: 60px;
				width: 60px;
				line-height: 60px;
				background: #f44336;
				display: inline-block;
				color: #fff;
				border-radius: 50%;
			}
		}
		.clock {
		  width:193px;
		  height:193px;
		  border-radius:50%;
		  margin:auto;
		  position:absolute;
		  left:16px;
		  z-index: -30;
		  margin-top: 60px;
		  background: #444;
		  .numbers {
		  	  width:100%;
			  height:100%;
			  border-radius:50%;
			  ul {
				  list-style:none;
				  li {
				  	  position:absolute;
					  width:1.5em;
					  height:1.5em;
					  text-align:center;
					  line-height:1.5em;
					  font-size:1.3em;
					  color:#a5a595;
					  &:first-child {
						  top:0;
						  left:50%;
						  margin-left:-0.75em;
					  }
					  &:nth-child(2){
						  top:50%;
						  right:0;
						  margin-top:-0.75em;
					  }
					  &:nth-child(3){
						  left:50%;
						  bottom:0;
						  margin-left:-0.75em;
					  }
					  &:last-child{
						  top:50%;
						  left:0;
						  margin-top:-0.75em;
					  }
				  }
			  }
		  }
		  .clockwise {
			  width:100%;
			  height:100%;
			  border-radius:50%;
				.center, .support {
					  position:absolute;
					  width:10px;
					  height:10px;
					  border-radius:50%;
					  background: radial-gradient(center center, circle , #ffffff, #837874 97%, #b4b2aa 100%);
					  background: -moz-radial-gradient(center center, circle,#ffffff, #837874 97%, #b4b2aa 100%);
					  background: -webkit-radial-gradient(center center, circle , #ffffff, #837874 97%, #b4b2aa 100%);
					  background-position:50% -12px;
					  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
					  left:50%; margin-left:-5px;
					  top:50%; margin-top:-5px;
					  z-index:5;
				}
				[class*="hand-"] {
				  border-radius: 100% 100% 5px 5px;
				  box-shadow: 0 0 0.5em rgba(black,0.2);
				  left: 50%;
				  position: absolute;
				  top: 50%;
				  z-index: 4;
				  box-shadow:0 5px 5px rgba(0,0,0,0.3);
				}
				.hand-second {
				  display: none;
				  width: 2px;
				  top: 18px;
				  height: 78px;
				  background:#f16e54;
				    transform-origin: 50% 100%;
				}
				.hand-minute {
				  width: 6px;
				  top:26px;
				  margin-left:-3px;
				  height: 88px;
				  background:#68645b;
				  transform-origin: 50% 80%;
				}

				.hand-hour {
				  width: 6px;
				  top: 56px;
				  transform-origin: 50% 40px;
				  margin-left:-3px;
				  height: 50px; 
				  background:#68645b;
				}

		  }
		 
		}



	}
}