#page-nav{
	text-align: center;
	margin-top: 30px;
	.page-number{
		width: 20px;
		height: 25px;
		background: #4d4d4d;
		display: inline-block;
		color: #fff;
		line-height: 25px;
		font-size: 12px;
		margin: 0 5px 30px;
		border-radius: 2px;
		&:hover{
			background: #5e5e5e;
		}
	}
	.current{
		background: #88acdb;
		cursor: default;
		&:hover{
			background: #88acdb;
		}
	}
	.extend{
		color: #4d4d4d;
		margin: 0 27px;
		opacity: 1;
		&:hover{
			color: #5e5e5e;
		}
	}
	&:hover{
		.extend{
			opacity: 1;
		}
	}
}

.loading {
	position: fixed;
	top: 50%;
	left: 50%;
	font-size: 40px;
	transform: translate(-50%,-50%);
	z-index: 5000;
}

.loadingMask {
	position: fixed;
    z-index: 3000;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255,.9);
    width: 100%;
    height:100%;
}

.popbg {
	position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    color: black;
    transform: translate(-50%,-50%);
    font-size: 25px;
    text-align: center;
}